// FONTS
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

// RESET
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
}

img {
    width: 100%;
    display: block;
}

li {
    list-style: none;

    a {
        text-decoration: none;
    }
}

// COMMONS
.container {
    width: 80%;
    margin: 0 auto;
}

.am-flex {
    display: flex;
}